* {
    box-sizing:border-box;
  }

  body {
    margin: 0;
    font-family: Helvetica, sans-serif;
  }

  /* Style the navigation bar */
  .nav-bar {
      overflow: hidden;
      background-color:ghostwhite;
      opacity:100%;
      position: fixed;
      top: 0;
      width: 100%;
    }

    /* Style the logo in the navigation bar */
    .nav-bar a.logo {
      color: steelblue;
      color:#037ffc;
      font-size: 25px;
      font-weight: bold;
      font-family: Helvetica, sans-serif;
    }

    /* Style the links in the navigation bar */
    .nav-bar a {
      float: left;
      display: block;
      color: steelblue;
      text-align: center;
      padding: 20px 20px;
      text-decoration: none;
      font-size: 18px;
      line-height: 20px;
    }

    /* Changes when hovering over elements in the navigation bar */
    .nav-bar a:hover {
      background: gainsboro;
      color: black;
    }

    /* Float sections to the right */
    .nav-bar-right {
      float: right;
    }


  .container {
    padding: 60px;
    background-color: gainsboro;
    color: black;
  }

  .container-alternate {
    padding: 60px;
    background-color: ghostwhite;
    color: steelblue;
  }

  .row:after {
    content: "";
    display: table;
    clear: both
  }

  .column-60 {
    float: left;
    width: 60%;
    padding: 20px;
  }

  .column-40 {
    float: left;
    width: 40%;
    padding: 20px;
  }

  .column-33 {
    flot: left;
    width: 33%;
    padding: 10px;
  }

  img {
    display: block;
    height: auto;
    max-width: 100%;
  }

  .footer{
    font-family: Helvetica, sans-serif;
    overflow: hidden;
    width: 100%;
    background-color: ghostwhite;
    padding: 0px;
    position: fixed;
    bottom: 0;
  }

  .footer a {
    float: left;
    display: block;
    color: steelblue;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 9px;
    line-height: 10px;
  }

  @media screen and (max-width: 1000px) {
    .column-60,
    .column-40 {
      width: 100%;
      text-align: center;
    }
    img {
      margin: auto;
    }
  }
