 /* Allows to include the padding and border in an element's total width and height.*/
* {
    box-sizing:border-box;
  }
  
  body {
    margin: auto;
    font-family: Helvetica, sans-serif;
  }

  /* Style the navigation bar */
  .nav-bar {
      overflow: hidden;
      background-color:ghostwhite;
      opacity:100%;
      position: fixed;
      top: 0;
      width: 100%;
    }

    /* Style the logo in the navigation bar */
    .nav-bar a.logo {
      color: steelblue;
      color:#037ffc;
      font-size: 35px;
      display:block;
      font-weight: bold;
      font-family: Helvetica, sans-serif;
    }

    /* Style the links in the navigation bar */
    .nav-bar a {
      float: left;
      display:block;
      color:#037ffc;
      text-align: center;
      padding: 10px 10px;
      font-size: 25px;
      line-height: 10px;
      text-decoration: none;
    }

    /* Changes when hovering over elements in the navigation bar */
    .nav-bar a:hover {

      color:lightskyblue;
    }

    /* Float sections to the right */
    .nav-bar-right {
      float: right;
    }
    /* Changes color of all main headings to the logo color (blue) */
      .heading {
        color:#037ffc;
      }
      
      /* Order Here button (takes you to the order form) */
      .button {
        background-color:#037ffc;
        border: none;
        color: white;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 4px 2px;
        border-radius: 12px;
      }

      .button:hover {
        background-color:lightblue;
      }


  .container {
    padding: 60px;
    background-color:#ececec;
    color: black;
    font-size: 18px;
  }

  .container-alternate {
    padding: 60px;
    background-color: ghostwhite;
    color:black;
    font-size: 18px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both
  }

  .column-60 {
    float: left;
    width: 60%;
    padding: 60px;
  }

  .column-40 {
    float: left;
    width: 40%;
    padding: 20px;
  }

  /* style images to be responsive */
  img {

    height: auto;
    width: 100%;
  }

  .can {
    max-width:100%;
    max-height:100%;
    float:center;
  }

  .flask {
    max-width:50%;
    max-height:50%;
    float:center;
}

  .co2bilde {
      max-width:50%;
      max-height:50%;
      float:center;
  }

  .recyclebilde {
    max-width:50%;
    max-height:50%;
    float:center;
}

/*  Contact form based upon w3schools (https://www.w3schools.com/css/css_form.asp)*/

/* style of order form*/

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit] {
  width: 100%;
  background-color: #037ffc;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:lightskyblue;
}

div {
  border-radius: 5px;
  padding: 20px;
}


  .footer{
    font-family: Helvetica, sans-serif;
    overflow: hidden;
    width: 100%;
    background-color:ghostwhite;
    padding: 0px;
    position: bottom;
    bottom: 0;
  }

  .adress {
    width: 40%;
    float: left;
    display: block;
    font-size: 14px;
    padding: 20px 20px;
  }

  .foot-bar a {
    float: left;
    display: block;
    color: ghostwhite;
    text-align: center;
    padding: 20px 20px;
    font-size: 14px;
    line-height: 10px;
  }

  .foot-bar-social-media {
    float: right;
  }

  .foot-bar-social-media img {
    width: 20px;
    height: 20px;
    background-color: steelblue;
  }

  .foot-bar-social-media img:hover {
    background-color: ghostwhite;
  }

/* Makes the website responsive for mobile and tablet, stacks the colums on top of eachother with width 100% instead of 60/40 */  
  @media screen and (max-width: 1000px) {
    .column-60,
    .column-40 {
      width: 100%;
      text-align: center;
    }
    img {
      margin: auto;
    }
  }
