* {
    box-sizing:border-box;
  }

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .container {
    padding: 64px;
  }

  .container-alternate {
    padding: 64px;
    background-color: #f1f1f1;
  }

  .row:after {
    content: "";
    display: table;
    clear: both
  }

  .column-60 {
    float: left;
    width: 60%;
    padding: 20px;
  }

  .column-40 {
    float: left;
    width: 40%;
    padding: 20px;
  }

  img {
    display: block;
    height: auto;
    max-width: 100%;
  }

  @media screen and (max-width: 1000px) {
    .column-60,
    .column-40 {
      width: 100%;
      text-align: center;
    }
    img {
      margin: auto;
    }
  }
